<!DOCTYPE html>
<html>
<head>
    <title>WCPredictor 2026</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-950 text-white min-h-screen">

<nav class="bg-slate-900 border-b border-slate-800">

    <div class="max-w-7xl mx-auto px-6">

        <div class="flex justify-between items-center h-16">

            <a href="/"
               class="text-2xl font-bold text-cyan-400">

                WCPredictor 2026

            </a>

            <div class="flex gap-6 items-center">
                {% if user.is_staff %}
                    <a href="{% url 'admin_dashboard' %}" class="bg-amber-500/10 border border-amber-500/30 hover:bg-amber-500/20 text-amber-400 font-bold px-3 py-1.5 rounded-xl text-xs uppercase tracking-wide transition">
                        🛠️ Panel Admina
                    </a>
                {% endif %}
                <a href="/" class="hover:text-cyan-400 transition">
                    Home
                </a>

                <a href="/matches/" class="hover:text-cyan-400 transition">
                    Matches
                </a>

                <a href="/leaderboard/" class="hover:text-cyan-400 transition">
                    Leaderboard
                </a>
                {% if user.is_authenticated %}

                    <a href="/profile/">
                        Profile
                    </a>

                    <a href="/logout/">
                        Logout
                    </a>

                {% else %}

                    <a href="/login/">
                        Login
                    </a>

                    <a href="/register/">
                        Register
                    </a>

                {% endif %}

            </div>

        </div>

    </div>

</nav>

<div class="max-w-7xl mx-auto p-6">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>