{% extends "base.html" %}

{% block content %}

<div class="bg-slate-900 border border-slate-800 rounded-3xl p-10 max-w-2xl mx-auto mt-10 shadow-xl text-center">

    <h1 class="text-4xl font-bold mb-8 text-white">
        Profil gracza: <span class="text-cyan-400">{{ request.user.username }}</span>
    </h1>

    <div class="flex flex-col items-center justify-center gap-6">

        {% if request.user.profile.avatar %}
            <img src="{{ request.user.profile.avatar.url }}"
                 class="w-48 h-48 rounded-full object-cover border-4 border-slate-800 shadow-2xl">
        {% else %}
            <img src="/media/default-avatar.png"
                 class="w-48 h-48 rounded-full object-cover border-4 border-slate-800 shadow-2xl opacity-80">
        {% endif %}

        <div class="mt-4 bg-slate-950 px-8 py-4 rounded-2xl border border-slate-800">
            <span class="text-slate-400 uppercase tracking-widest text-sm font-bold block mb-1">Zdobyte punkty</span>
            <span class="text-5xl font-black text-amber-400">{{ request.user.profile.points }}</span>
        </div>

    </div>

</div>

{% endblock %}